.titulo{
	//background-color: #428bca; 
	border-radius: 5px;
	color: white;
}

.primary{
	background-color: #387ef5; 
}

.secondary{
	background-color: #32db64; 
}

.danger{
	background-color: #f53d3d; 
}

