
<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="logOut()"><ion-icon name="log-out"></ion-icon></button>
      <button ion-fab (click)="pedidosRealizados()"><ion-icon name="ios-cart"></ion-icon></button>
      <button ion-fab (click)="busqueda()"><ion-icon name="ios-search"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

	<ion-list>
  		<ion-item *ngFor="let afiliado of afiliados" id="bloque"> 
    		
        <ion-thumbnail item-left>
          <div class="marca-estado" [ngClass]="{'estado-abierto': afiliado.abierto, 'estado-cerrado': !afiliado.abierto}">  
          </div>
      			<img src="assets/img/afiliados/{{afiliado.sede.logo}}">
    		</ion-thumbnail>
        <div id="prueba">
        <ion-scroll scrollX="true" id="scroll-Horizontal">
    		<h3 color="danger">{{afiliado.sede.nombre}}</h3>

        <h6>{{afiliado.sede.descripcion}}</h6>
<!--         <h5> Pedido min: {{afiliado.sede.valorPedidoMin | currency:'USD':true:'1.0-2'}}</h5>              
 -->        <h5> Pedido min: {{afiliado.sede.valorPedidoMin}}</h5>              
        <!-- <h4>Domicilio: -->
        <!-- <h4><img src="assets/img/motoDom.png" height="20" width="22"> -->
        <h4><ion-icon name="ios-bicycle" font-color="red"></ion-icon>
          <span *ngIf="afiliado.sede.valorDomicilio == 1"> Varia según tu ubicación </span> 
          <span *ngIf="afiliado.sede.valorDomicilio == 0"> Gratis </span>
<!--           <span *ngIf="afiliado.sede.valorDomicilio > 1"> {{afiliado.sede.valorDomicilio | currency:'USD':true:'1.0-2' }}</span> 
 -->    <span *ngIf="afiliado.sede.valorDomicilio > 1"> {{afiliado.sede.valorDomicilio}}</span> 
        </h4>  
        
        
          <h5 class="colorClaro"><b> {{afiliado.sede.direccion}} </b></h5>
      
        <h4 [hidden]="!afiliado.sede.novedades">
          {{afiliado.sede.novedades}}
        </h4>
        </ion-scroll>
        </div>
    		<button ion-button clear item-right icon-only (click)="antesDeBuscar(afiliado)"><ion-icon name="log-in"></ion-icon></button>

  		</ion-item>
	</ion-list>
</ion-content>
