

page-lista-productos {

}

#botonConfirma{	
	bottom: 0;
	left: 0;
	height: 3.5em;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#botonConfirmaAlto{
	//height: 4.6rem !important;
}

#selected2{
	padding-top: 4px !important;
}

#bloqueProd{
	 //background-image:url("../assets/img/fondoapp.jpg") !important;
     //background-repeat:no-repeat;
     //background-size:cover;
     //overflow:hidden;
}

select {
  border: black;
}

#lista.item-md {
    border-bottom: 1px solid #dedede;
    //border-color: rgba(0, 0, 0, 0);
	//background-color: rgba(0, 0, 0, 0);
}
