.estado-aceptado{
	background-color: #32db64;
	border-radius: 5px;
	color: white;
}

.estado-pendiente{
	background-color: #387ef5;
	border-radius: 5px;
	color: white;
}

.estado-cancelado{
	background-color: #f53d3d;
	border-radius: 5px;
	color: white;
}